{% extends "head.html" %}
{% block content %}
<div class="col-md6 border rounded">
    <h2>Добавить группу</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.label.label }}<br>
            {{ form.label(class="form-control") }}<br>
            {% for error in form.label.errors %}{
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
<br>
{% for group in query_groups %}
<div class="col-md6 border rounded">
    <h2>{{group.label}}</h2>

    <div>
        <a href="/groups/{{group.id_group}}" class="btn btn-warning">
            Изменить
        </a>
    </div>
</div>
{% endfor %}


{% endblock %}