{% extends "head.html" %}
{% block content %}
<style type="text/css">

.block-left{width:60%;height:200px;overflow:auto;float:left;margin-bottom:20px;word-wrap:break-word;padding-left:20px;padding-right:20px;}
.block-right{width:39%;height:200px;overflow:auto;float:right;margin-bottom:20px;word-wrap:break-word;padding-left:20px;padding-right:20px;}



</style>
{% if len == 0 %}
<p>Вы ещё не писали ни одного теста</p>
{% else %}
<h2>Средний балл: {{all_mark}}</h2>
{% for i in range(len) %}
<div class="accordion accordion-flush" id="accordion{{i}}">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#item{{i}}" aria-expanded="false" aria-controls="flush-collapseOne"
                    style="text-color: black">
                Дата теста: {{dates[i]}} <br>Балл: {{marks[i]}}
            </button>
        </h2>
        <div id="item{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordion{{i}}">
            <div class="accordion-body">
                {% for j in range(5) %}
                {% if question_marks[i * 5 + j] == 1 %}
                <div class="block-left" style="background:#d2f4ea; border-style: none; border-radius: 10px; ">
                    <h6>Вопрос: {{questions[i * 5 + j].texts}}</h6>
                    <p >Ответ: {{answers[i * 5 + j]}}</p></div>
                <div class="block-right" style="background:#d2f4ea; border-style: none; border-radius: 10px;">
                    <p>Комментарий: {{comments[i * 5 + j]}}</p>
                    <p>Балл: {{question_marks[i * 5 + j]}}</p></div>

                {% elif question_marks[i * 5 + j] == 0.6 or question_marks[i * 5 + j] == 0.4 %}
                <div class="block-left" style="background:#ffe5d0; border-style: none; border-radius: 10px; ">
                    <h6>Вопрос: {{questions[i * 5 + j].texts}}</h6>
                    <p >Ответ: {{answers[i * 5 + j]}}</p></div>
                <div class="block-right" style="background:#ffe5d0; border-style: none; border-radius: 10px;">
                    <p>Комментарий: {{comments[i * 5 + j]}}</p>
                    <p>Балл: {{question_marks[i * 5 + j]}}</p></div>

                {% else %}
                <div class="block-left" style="background:#F8D7DA; border-style: none; border-radius: 10px; ">
                    <h6>Вопрос: {{questions[i * 5 + j].texts}}</h6>
                    <p >Ответ: {{answers[i * 5 + j]}}</p></div>
                <div class="block-right" style="background:#F8D7DA; border-style: none; border-radius: 10px;">
                    <p>Комментарий: {{comments[i * 5 + j]}}</p>
                    <p>Балл: {{question_marks[i * 5 + j]}}</p></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% endif %}
<img src="data:image/png;base64,{{ diagram }}">
{% endblock %}