{% extends "head.html" %}
{% block content %}
<body>
    <p>
        <strong>Студенты (Students): </strong><a href="students">Перейти</a>
    </p>
    <p>
        <strong>Вопросы (Questions): </strong><a href="questions">Перейти</a>
    </p>
    <p>
        <strong>Темы (Groups): </strong><a href="groups">Перейти</a>
    </p>
    <p>
        <strong>Тесты (Check quiz): </strong><a href="check_quiz/1">Перейти</a>
    </p>
    <p>
        <strong>Выбор тем (Quiz): </strong><a href="/choice_student&groups">Перейти</a>
    </p>
</body>
{% endblock %}