{% extends "head.html" %}
<title>{% block title %} {{title}} {% endblock title %}</title>
{% block content %}

{% for user in query_groups %}
<div>

    <div class="accordion accordion-flush" id="accordion{{loop.index}}">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item{{loop.index}}" aria-expanded="false" aria-controls="flush-collapseOne">
            {{user.label}}
            <a href="/questions/add/{{user.id_group}}" class="btn btn-primary" style="margin-left: 4px;">Добавить вопрос</a></label>
          </button>
        </h2>
        <div id="item{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#accordion{{loop.index}}">
          <ol>
          {% for quest in query_questions %}
            {% if quest.id_group == user.id_group %}
                <div class="accordion-body">
                    <li>
                        {{quest.texts}}
                        <span style="float: right;">
                            <a href="/questions/{{quest.id_question}}" class="btn btn-warning" style="float: right;">
                                Редактировать
                            </a>
                        </span>
                    </li>

                </div>
            {% endif %} 
          {% endfor %}
          </ol>
        </div>


     </div>

<!--    <input id="{{loop.index}}" type="checkbox">-->
<!--    <label for="tab{{loop.index}}" >{{user.label}}-->
<!--        <a href="/questions/add/{{user.id_group}}" class="btn btn-primary">Добавить вопрос</a></label>-->
<!--    {% for quest in query_questions %}-->
<!--        {% if quest.id_group == user.id_group %}-->
<!--            <div class="tab_content" align="center">-->
<!--                {{quest.texts}}-->
<!--                <span>-->
<!--                            <a href="/questions/{{quest.id_question}}" class="btn btn-warning" style="float: right;">-->
<!--                                Редактировать-->
<!--                            </a>-->
<!--                        </span>-->
<!--            </div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--    <br>-->
</div>
{% endfor %}
<br>
{% endblock %}