{% extends "head.html" %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<style>
    timer {
        font-size: 20px;
        padding: 3px 5px 3px 5px;
    }

</style>
<form class="form" action="" method="post">
    <timer class="col-md6 border rounded">
    </timer>
    <script>
		let work_time = {{ timer }};
		let a = new Date({{ time }});
		let $timer = $('timer');
		let time;
		function check_time()
		{
			let b = new Date();
			let diff = Math.round((b - a) / 1000);
			console.log(diff);
			return diff;
		}

		function ret(){
			let sum = work_time - check_time();
			if(sum>=0) {
				let mins = Math.floor(sum / 60), secs = Math.floor(sum % 60);
				if($timer[0]) {
					$timer[0].innerHTML = Math.floor(mins / 10) + (mins % 10) + ':' + Math.floor(secs / 10) + (secs % 10);
				}
			} else {
				clearInterval(time);
				let forms = document.querySelector('form');
				HTMLFormElement.prototype.submit.call(forms);
			}
		}
		let sum = work_time - check_time();
        console.log(sum);
		if(sum >= 0) {
            ret();
            time = setInterval(ret,1000);
		} else {
		    window.location.replace("../");
		}

    </script>
    {% for i in range(questions_num) %}
    <div>
        <h5>{{query_questions[i].texts}}</h5>
        {{ form.hidden_tag() }}
        <p>
            {{ form.answers[i].label }}<br>
            {{ form.answers[i](class="form-control") }}<br>
            {% for error in form.answers[i].errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
    </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}