{% extends "head.html" %}
<title>{% block title %} {{title}} {% endblock title %}</title>
{% block content %}
<br>
<div class="col-md6 border rounded">
    <h2>Изменить студента</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="form-control") }}<br>
            {% for error in form.date.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.id_stepik.label }}<br>
            {{ form.id_stepik(class="form-control") }}<br>
            {% for error in form.id_stepik.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <div>
            {{ form.submit(type="submit", class="btn btn-primary") }}
            <a href="/students_delete/{{id}}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {{message}}

    </form>
</div>
{% endblock %}